.root {
    flexGrow: 1,
}

.paper {
    padding: 2px;
    textAlign: 'center';
    color: #dddddd;
}

.lineseparator {
    align: center;
    width: 100%;
    font-size: 50px;
    color: #dddddd;
}

.card {
    minWidth: 275,
}

.bullet {
    display: inline-block;
    margin: 2px;
    transform: scale(0.8)
}

.title {
    fontSize: 14,
}

.pos {
    marginBottom: 12,
}