.logo {
    height: 360px;
    width: 100%
    /*background-color: #72777f;*/
}

.card {
    minWidth: 275
}

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}
.title {
    fontSize: 14,
}

.pos {
    marginBottom: 12,
}

.root {
    width: 100%;
    overflowX: 'auto';
}

.table {
    minWidth: 650,
}

.lineseparator {
    align: center;
    width: 100%;
    font-size: 50px;
    color: #dddddd;
}